<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonball.cell.dao.DExampleMapper">
  <resultMap id="BaseResultMap" type="com.dragonball.cell.model.DExample">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="SMALLINT" property="id" />
    <result column="service_tag" jdbcType="VARCHAR" property="serviceTag" />
    <result column="intranet" jdbcType="VARCHAR" property="intranet" />
    <result column="public_ip" jdbcType="VARCHAR" property="publicIp" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
  </resultMap>
</mapper>