<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonball.cell.dao.DVolumeMapper">
  <resultMap id="BaseResultMap" type="com.dragonball.cell.model.DVolume">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="physical_volume" jdbcType="VARCHAR" property="physicalVolume" />
    <result column="logical_volume" jdbcType="VARCHAR" property="logicalVolume" />
    <result column="file_system" jdbcType="VARCHAR" property="fileSystem" />
  </resultMap>
</mapper>