<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonball.mapper.MirrorMapper">
  <resultMap id="BaseResultMap" type="com.dragonball.model.Mirror">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="mirror_id" jdbcType="SMALLINT" property="mirrorId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mirror_system" jdbcType="VARCHAR" property="mirrorSystem" />
    <result column="iso_file" jdbcType="LONGVARCHAR" property="isoFile" />
  </resultMap>
</mapper>