<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonball.mapper.NetworkMapper">
  <resultMap id="BaseResultMap" type="com.dragonball.model.Network">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="network_id" jdbcType="SMALLINT" property="networkId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="protocol" jdbcType="VARCHAR" property="protocol" />
  </resultMap>
</mapper>