<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragonball.mapper.ResourcePoolMapper">
  <resultMap id="BaseResultMap" type="com.dragonball.model.ResourcePool">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pool_id" jdbcType="SMALLINT" property="poolId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="CHAR" property="category" />
    <result column="apply" jdbcType="BIT" property="apply" />
  </resultMap>
</mapper>